.hero {
	position: relative;
	// background-image: url(../img/hero2.jpg);
	// background-position: center;
	// background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	background: transparent;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.7;
	}
	.img-bg {
		position: fixed;
		background-image: url(../img/hero.jpg);
		background-position: center;
		background-size: cover;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	h3 {
		color: #fff;
	}
}
section {
	background: #fff;
}
// .hero::before {
// 	background: url("../../img/hero2.jpg") no-repeat center center;
// 	background-size: cover;
// 	content: " ";
// 	height: 100%;
// 	left: 0;
// 	position: fixed;
// 	top: 0;
// 	width: 100%;
// 	will-change: transform;
// 	z-index: -1;
// }
.order-btn {
	display: inline-flex;
	color: #fff;
	background: $primaryColor;
	border: 1px solid transparent;
	outline: none;
	line-height: 40px;
	padding: 0 30px;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 20px;
	span {
		margin-left: 10px;
		display: block;
		width: 20px;
		height: 20px;
		svg {
			width: 100%;
			height: 100%;
			fill: #fff;
		}
	}
	&:hover {
		background: transparent;
		color: #fff;
		border: 1px solid #fff;
	}
}

.product {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.stock-text {
	position: relative;
}
.stock-text h1 {
	font-size: 120px;
	font-weight: 800;
	margin: 0;
	line-height: 1;
	text-transform: uppercase;
	// position: absolute;
	font-family: "Poppins", sans-serif;
	color: $primaryColor;
}
@media only screen and (min-width: 1200px) and (max-width: 1440px) {
	.stock-text h1 {
		font-size: 102px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.stock-text h1 {
		font-size: 110px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.stock-text h1 {
		font-size: 60px;
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.stock-text h1 {
		font-size: 52px;
	}
}
@media (max-width: 575px) {
	.stock-text h1 {
		font-size: 39px;
		margin-bottom: 25px;
	}
	.hero {
		padding: 200px 0;
		height: auto;
	}
}
.stock-text h1:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px $primaryColor;
	-webkit-text-fill-color: transparent;
}
.stock-text h1:nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	color: $primaryColor;
	-webkit-animation: animate 4s ease-in-out infinite;
	animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
	0%,
	100% {
		clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 69%, 100% 52%, 100% 100%, 0% 100%);
	}
	50% {
		clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}
